.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.gap-4 {
    gap: 1rem;
}

.gap-20 {
    gap: 5rem;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid-cols-4 {
    grid-template-columns: repeat(auto-fill, minmax(303px, 1fr));
}

.grid-cols-13 {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-items-center {
    justify-items: center;
}

.justify-self-center {
    justify-self: center;
}

.self-center {
    align-self: center;
}